body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	/*background-image: url("https://images.unsplash.com/photo-1420310414923-bf3651a89816?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=35b6c4a51f79996d2d1d036b924a6f4c&auto=format&fit=crop&w=500&q=60");*/
	background-color: lightblue;
	width: 100%;
	height: 800px;
	background-size: cover;
	background-position: 25% 0;
	position: relative;
	top: -30px;
	bottom: -30px;
}

.laptop-image {
	width: 100%;
	height: 800px;
}

.profile-logo {
	margin: 0 auto;
	text-align: center;
	position: relative;
	width: 60%;
	top: -820px;
	bottom: -820px;
}

.intro {
	font-size: 1rem;
	position: absolute;
	top: 200px;
	left: 14.5%;
	right: 14.5%;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);

}

.my-intro {
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

.me {
	margin: 0;
}

.contact-here {
	text-decoration: none;
	position: absolute;
	top: 380px;
	left: 5%;
	right: 5%;
}

.contact-here h3{
	color: #12456d;
	border: 3px solid #12456d;
	width: 210px;
	margin: 0 auto;
	padding-top: 1px;
	padding-bottom: 2px;
	border-radius: 15px;
	background-color: white;
}

.contact-here h3:hover {
	background-color: lightblue;
}
.more {
	position: absolute;
	top: 430px;
	font-size: 20px;
	left: 22.5%;
	right: 22.5%;
}

.learn-more  {
	text-decoration: none;
	color: white;
}

.learn-more h5:hover {
	color: lightblue;
}

.skills{
	color: #93a4aa;
}

.skills-intro {
	text-align: center;
}

.skills-intro h1{
	color: black;
}

.about-skills {
	text-align: center;
	padding: 4%;
}

.skills-images {
	width: 15%;
}

.skill-heading {
	color: black;
}

.work{
	background-color: #eee;
	color: black;
	padding: 1%;
	text-align: center;
}

.about-work {
	text-align: center;
}

.image {
	width: 100%;
	height: 200px;
	margin: 1% auto;
}

.pics {
	width: 100%;
}

.type {
	padding: 0 20%;
}

.list {
		width: 50%;
	}

.budgetly-type {
	padding: 0 35%;
}

.my-bucketlist-type {
	padding-left: 80px;
	padding-right: 80px;
}

.website-button {
	margin: 10% auto;
	border: 3px solid #12456d;
	background-color: white;
	border-radius: 15px;
	color: #12456d;
	padding-top: 4px;
	padding-bottom: 2px;
}

.website-line {
	border-bottom: 1px solid grey;
	margin-bottom: 10%;
}

.website-button:hover {
	background-color: lightblue;
}

.contact-me{
	background-color: #12456d;
	color: white;
}

.contact-details{
	margin: 0;
	text-align: center;
	padding: 2%;
}

.social-buttons{
	background-color: black;
	color: white;
}

.social-buttons p{
	margin: 0;
	padding: 2%;
}


@media (min-width: 322px) {
	.work {
		padding: 5%;
	}

@media (min-width: 355px) {
	.work {
		padding: 10%
	}

@media (min-width: 400px) {
	.work {
		padding: 15%;
	}

@media (min-width: 445px) {
	.work {
		padding: 20%;
	}

	.list {
		width: 100%;
	}

	.type {
		text-align: center;
	}

	li {
		text-align: center;
	}

	.budgetly-list {
		width: 100%;
	}

	.budgetly-type {
		text-align: center;
	}

@media (min-width: 499px) {
	.work {
		padding: 50px;
	}

	.about-work h1{
		padding-top: 0;
	}

	.apps-info {
		width: 50%;
	}

	.type {
		padding: 0 20%;
		text-align: center;
	}

	li {
		text-align: center;
	}

	.app-info {
		width: 50%;
		float: right;
	}

	.budgetly-type {
		text-align: center;
	}

 
	.image {
	  width: 50%;
	  float: right;
	  margin: 1% auto;
	}

	.pics {
	  width: 70%;
	}

	.budgetly-image {
	    float: left;
	}
}

@media (min-width: 670px) {
	.intro {
		color: black;
		background-color: rgba(0, 0, 0, 0);
	}
}

@media (min-width: 900px) {
	.website-line {
		margin-bottom: 7%;
	}

	.type {
		padding: 0 35%;
	}
}

